#node-holder {
    display: grid;

    max-width: 90vw;
    aspect-ratio: 1;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.node {
    transition: ease-in-out 0.2s;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
}
.node:hover {
    background-color: var(--accent);
}

.unchecked {
    background-color: white;
}
.checked {
    background-color: var(--secondary);
}

.txt {
    width: 98%;
    margin: auto;
    transition: ease-in-out 0.2s;
    text-align: center;
    vertical-align: center;
    user-select: none;
}

.txtChecked {
    color: white;
}
.txtUnchecked {
    color: black;
}

h1 {
    margin-bottom: 0;
}

/* timing shit */

#reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}