@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
    --text: #dff1e5;
    --background: #000000;
    --primary: #823a6a;
    --secondary: #331429;
    --accent: #bd569b; 

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text);

    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    scroll-behavior: smooth;
}
::selection {
    background-color: var(--accent);
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    font-size: var(--p);
    font-weight: 400;
}
h1 {
    font-size: var(--h1);
    font-weight: 700;
}
h2 {
    font-size: var(--h2);
    font-weight: 700;
}
h3 {
    font-size: var(--h3);
    font-weight: 700;
}
h4 {
    font-size: var(--h4);
    font-weight: 700;
}
h5 {
    font-size: var(--h5);
    font-weight: 700;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}